@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,400&display=swap");

@layer base {
  body {
  }
}

@layer components {
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #141118;
  letter-spacing: 0.32px;
  color: #fff;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #2f2a2a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    45deg,
    rgb(157, 154, 254),
    rgb(100, 60, 246)
  );
  border-radius: 50px;
}
/* end */
.body {
  width: 100%;
  background: #141418;
  background-size: cover;
  background-position: top left;
  padding: 0 !important;
}
