@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400&display=swap");

@layer base {
  body {
  }
}

@layer components {
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #141118;
  letter-spacing: 0.32px;
  color: #fff;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #2f2a2a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    45deg,
    rgb(157, 154, 254),
    rgb(100, 60, 246)
  );
  border-radius: 50px;
}
/* end */
.body-style {
  width: 100%;
  background: #141418;
  background-size: cover;
  background-position: top left;
  padding: 0 !important;
}

.skeleton {
  background-color: #eee;
  background-image: linear-gradient(
    110deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  );
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
